<table class="table table-striped table-bordered table-checkable table-highlight-head table-no-inner-border table-hover">
  <thead>
    <tr>
      <th class="align-center">Date</th>
      <th class="align-center">Message</th>
      <th class="align-center">Users</th>
      <th class="align-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% if messages.present? %>
      <% messages.each do |message| %>
        <tr class="align-center">
          <td><%= message.created_at.try(:strftime, "%H:%M | %d-%m-%Y") %></td>
          <td><%= message.message %></td>
          <td><%= get_users(message.user_ids) %></td>
          <td>
            <%= link_to raw('<i class="icon-mobile-phone"></i>'), send_broadcast_message_event_message_path(@event.id, message.id), :remote => true, :class => "bs-tooltip", title: 'Broadcast' %>
            <%= link_to raw('<i class="icon-edit"></i>'), "#", "data-href" => edit_event_message_path(@event.id, message.id), :class => "bs-tooltip", 'data-toggle' =>  "modal", title: 'Update' %>
            <%= link_to raw('<i class="icon-trash"></i>'),  event_message_path(@event.id, message.id),  method: :delete, data: { confirm: 'Are you sure?' }, class:  'bs-tooltip', title: 'Delete', :remote => true %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td colspan="4" class="align-center">Messages empty</td></tr>
    <% end %>
  </tbody>
</table>
