<table class="table table-striped table-bordered table-checkable table-highlight-head table-no-inner-border table-hover">
  <thead>
    <tr>
      <th class="align-center">Photo</th>
      <th class="align-center">Name</th>
      <th class="align-center">Email</th>
      <th class="align-center">Department</th>
      <th class="align-center">Category</th>
    </tr>
  </thead>
  <tbody>
    <% attendees.each do |attendee| %>
      <tr>
        <td width="180">
          <%= image_tag(attendee.user.try(:avatar_url)) %>
        </td>
        <td class="align-center" style="vertical-align:middle">
          <%= attendee.user.try(:name).try(:titleize) %>
        </td>
        <td class="align-center" width="240" style="vertical-align:middle">
          <%= attendee.user.try(:email) %>
        </td>
        <td class="align-center" width="160" style="vertical-align:middle">
          <%= attendee.user.try(:department).try(:titleize) %>
        </td>
        <td class="align-center" width="160" style="vertical-align:middle"><%= attendee.category.try(:name).try(:titleize) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
